$light-background-color: #fff
$light-text-color: #2C3E50
$light-button-background: #0584F2

$dark-background-color: #02040A
$dark-text-color: #fff
$dark-button-background: #0579DD

.main
    display: flex
    align-items: center
    justify-content: center
    margin-top: 80px
    width: 100%
    margin-left: 60px
    height: 92vh
    background-color: $light-background-color
.dark-theme
    .main
        background-color: $dark-background-color

.main-title
    width: 80%
    line-height: 4.2rem
    text-align: left
    font-weight: 700
    font-size: 3.5rem
    color: $light-text-color
.dark-theme
    .main-title
        color: $dark-text-color
    .main-description
        color: #686868
    .blank-button
        background-color: #238636
    .start-text
        color: #238636
    .blank-button
        &:hover
            background-color: #26943c
.main-img
    margin-right: 148px
    img
        width: 700px
.start-text
    text-align: left
    font-size: 0.7rem
    font-weight: 300
    color: #0584F2
    margin-bottom: 20px

.main-description
    margin-top: 20px
    font-size: 1rem
    text-align: left
    font-weight: 400
    color: $light-text-color // Используем переменную

.blank-button
    margin-top: 30px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 3px
    color: #fff
    background-color: $light-button-background // Используем переменную
    width: 150px
    height: 40px

    &:hover
        background-color: #0579DD
.main-information
    margin-left: 140px
    margin-bottom: 100px

@media only screen and (max-width: 1024px)
    .start-text
        font-size: 9.5px
    .main-information
        margin-left: 140px
    .main-title
        width: 100%
        line-height: 3.5rem
        font-size: 3rem
    .main-description
        font-size: 14px
    .main-img
        margin-right: 130px
        img
            width: 520px
    
